@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-cormorant);
  --font-mono: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 3px;
}

.hero-image {
  background-image: url("/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

/* .font-cormorant {
  font-family: var(--font-cormorant);
} */

.font-cormorant {
  font-family: var(--font-cormorant);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}
